body {
  text-align: center;
  background-color: #FFE9E9;
}

ul {
  text-align: left;
  width: 95%;
}

.row {
  margin-top: 30px;
  font-size: 1.25em;
}

.well {
  background-color: #ffffff;
  margin-top: 10%;
  border-radius: 15px;
  width: 60%;
  max-width: 1100px;
  min-width: 600px;
}

.btn {
  background-color: #FFE9E9;
  color: #000000;
  border: 1px solid #000000;
  font-weight: bold;
  margin-top: 20px;
}

.btn:focus {
  outline: none;
  color: #000000;
}

.btn:hover {
  background-color: #FFE9E9;
  color: #000000;
  border: 1px solid #000000;
}

.falling {
  transform: translate(0, 850px) rotate(90deg);
  transition: all 1s;
}

.player {
  border: 1px dashed #000000;
  border-radius: 15px;
}

.offset {
  margin-top: 50px;
}

#title {
  font-weight: bold;
}

#oink {
  width: 10%;
  height: auto;
}

#die1 {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

#die2 {
  display: none;
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

#about {
  margin: 0 auto;
  width: 500px;
  text-align: left;
  text-align: center;
}

#about p {
  text-align: left;
}

#restart {
  display: block;
  margin: 20px auto;
}

#roll, #hold {
  width: 60px;
}

#rollValue {
  margin-top: 80px;
}
